
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    min-width: 360px;
    height: 150px;
    border-radius: $box-rounding;
    box-shadow:  $container-shadow;
    background-color: $body-background;
    border-radius: $box-rounding;
    margin: 10px;
}
.logoSmall {
    width: 150px;
    height: 150px;
}

