$font-color: rgb(255, 255, 255);
$button-background: rgb(87, 197, 240);
$box-rounding: 5px;
// $container-shadow: rgba(28, 28, 28, 0.24) 0px 3px 8px;
// $red-button: rgb(225, 70, 89);
// $body-background: rgb(25, 24, 24);