$font-color: rgb(255, 255, 255);
$button-background: rgb(87, 197, 240);
$box-rounding: 5px;
$container-shadow: rgba(198, 198, 198, 0.753) 1px 1px 7px;
$container-shadow-dark: rgba(48, 48, 48, 0.753) 2px 2px 7px;
$body-background: rgb(101, 100, 100);